:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  font-family: Caveat;
  src: local("Caveat"), url(./fonts/Caveat/Caveat-VariableFont_wght.ttf) format("truetype");
  line-height: 1.5;
  font-weight: 400;
  font-size: 24px;

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #02041d;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: Caveat;
  src: local("Caveat"), url(./fonts/Caveat/Caveat-VariableFont_wght.ttf) format("truetype");
}


button:hover {
  border-color: #646cff;
}

#app {
  text-align: center;
}
